.DS_Store
Purpleworks-Workshop.xcodeproj/project.xcworkspace/xcuserdata/gomgom.xcuserdatad/UserInterfaceState.xcuserstate
Purpleworks-Workshop.xcodeproj/project.xcworkspace/xcuserdata/gomgom.xcuserdatad/UserInterfaceState.xcuserstate
Purpleworks-Workshop.xcodeproj/xcuserdata/gomgom.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
